*{    -webkit-user-select: none;
-khtml-user-select: none;
-moz-user-select: none;
-ms-user-select: none;
-o-user-select: none;
user-select: none;

}
   body {
    margin: 0;
    padding: 0;
    position: relative;
    touch-action: manipulation;
  }
  
  canvas {
    display: block;
    margin: 0 auto;
    border: 1px solid black;
    background-color:#1f303f;
  }
  .container img{
    display:none;

  }

/* button */
	
.controller {
  width: 400px;
  height: 200px;
  border: 2px solid #000;
  border-radius: 10px;
  position: relative;
}

.button {
  width: 50px;
  height: 50px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: #fff;
  border: 2px solid #000;
  border-radius: 50%;
  font-size: 24px;
  color: #000;
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
}
.d-pad-up{
	padding: 4vh;
	display: flex;
    position: relative;
    left: 46px;
	}
.d-pad-down{
		padding: 4vh;
    display: flex;
    position: absolute;
    left: 46px;
}
.d-pad-left{
	
		padding: 4vh;
}

.d-pad-right{
		padding: 4vh;
    position: absolute;
    left: 100px;
}

.d-pad-s{position: absolute;
    display: flex;
    right: 0;
    top: 0;
    left: 391px;
    width: 91px;
    border-radius: 50%;
    height: 87px;
															     }
